#title {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: red;
}

#rules {
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    letter-spacing: 0.1em;
}

#score-announce {
    font-family: 'Open Sans', sans-serif;
}